
<script src="http://d3js.org/d3.v3.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css
" rel="stylesheet">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<div style="text-align:center;">
    <input type="text" placeholder="Please select a file" id="db-file" disabled="disabled" />
    <input type="button" value="Choose a file" id="select-db-file" (click)="openDialog()" />
</div>


<div id="content" style="display:Block">
    <div class="row space">
        <div class="col-lg-8 col-md-6">
            <div>
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-10">
                                <strong>Number of Scenarios: </strong>
                                <span id="NumOfscen"> 1 </span>
                                <!-- <p id="NumOfscen"> 1 </p> -->
                            </div>
                            <div class="col-xs-10">
                                <strong>Scenario Name: </strong>
                                <span id="SecnarioName"> </span>
                                <select id="SecnarioPicker">
                                    <option>DummyData_3Dim</option>
                                    <option>DummyData_3Dim</option>
                                </select>
                            </div>
                            <div class="col-xs-10">
                                <strong>Scenario description: </strong>
                                <span id="SecnarioDesc"> Dummy scenario to test reading format </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-9">
                            <strong>Number of Actors: </strong>
                            <span id="NumOfActors"> 7</span>
                        </div>
                        <div class="col-xs-9">
                            <strong>Number of Dimensions: </strong>
                            <span id="NumOfDim"> 3</span>
                        </div>
                        <!-- <div class="col-xs-9">
                            <strong>Turn: </strong>
                            <span id="currentTurn"> 2 </span>
                        </div> -->
                        <div class="col-xs-9">
                            <strong>Dimension: </strong>
                            <span>
                                <select id="Dimpicker">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>

                                </select>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <div class="row space">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="container-fluid">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="panel panel-default" id="LinePanel">
                            <div class="panel-heading"> <strong>Line Chart</strong></div>
                            <div id="MainLineChart" class="panel-body ">
                               <nvd3 [options]="LineChartOptions" [data]="Linedata"></nvd3>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-12  col-md-6 col-md-offset-0 col-lg-6">
                        <div class="panel panel-default" id="BarPanel">
                            <div class="panel-heading"> <strong>Bar Chart</strong> </div>
                            <div id="Barchart" class="panel-body ">
                                <!-- <script src="../vendor/charts/barchart.js"></script> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</div>